.studentNav {
    position: relative;
}

.profileOptions {
    position: absolute;
    top: 70%;
    right: 0.4%;
    background-color: transparent;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-in-out ;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    align-items: flex-start; /* Align items to the start */
}

.profileOptions.show {
    max-height: 150px; /* Adjust based on the content height */
}

.profileOptions button {
    font-weight: 6  00;
    color: black;
    width: 100%;
    padding: 10px;
    border: 20px;     
    background: lightgreen ;
    text-align: left;
    cursor: pointer;
    margin-bottom: 10px; /* Add margin to create a gap */
}

.profileOptions button.logout {
    background-color: tomato; /* Make the logout button red */
}

.profileOptions button:hover {
    background-color: #f0f0f0;
}

.profileOptions button:last-child {
    margin-bottom: 0; /* Remove margin from the last button */
}

.ProfileButton {
    position: relative;
    z-index: 1;
}

.studentTable {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.3); /* Match the background color of the page */
    animation: fadeIn 1s ease-in-out;
    font-weight: 600;
}

.studentTable th, .studentTable td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
    transition: background-color 0.3s ease-in-out;
}

.studentTable th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-weight: bold;
}



.studentTable td {
    text-align: center;
}
.studentTable td:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.studentinfo {
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    color: wheat;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.blacklistButton{
    background-color: tomato;
    font-weight: 600;
}

.blacklistButton:hover{
    background-color: red;
}