.studentNav {
    position: relative;
}

.profileOptions {
    position: absolute;
    top: 70%;
    right: 0.4%;
    background-color: transparent;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-in-out ;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    align-items: flex-start; /* Align items to the start */
}

.profileOptions.show {
    max-height: 150px; /* Adjust based on the content height */
}

.profileOptions button {
    font-weight: 6  00;
    color: black;
    width: 100%;
    padding: 10px;
    border: 20px;     
    background: lightgreen ;
    text-align: left;
    cursor: pointer;
    margin-bottom: 10px; /* Add margin to create a gap */
}

.profileOptions button.logout {
    background-color: tomato; /* Make the logout button red */
}

.profileOptions button:hover {
    background-color: #f0f0f0;
}

.profileOptions button:last-child {
    margin-bottom: 0; /* Remove margin from the last button */
}

.ProfileButton {
    position: relative;
    z-index: 1;
}

.dashform {
    width: 90%; /* Make the form cover the full width */
    height: 75vh; /* Make the form cover the full height of the viewport */
    margin-top: 3%; /* Remove any margin */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    opacity: 1; /* Set the form opacity */
    padding: 10px; /* Add padding for inner spacing */
    border-radius: 15px; /* Add border-radius */
    background-color: rgba(0, 0, 0, 0.1); /* Add a background color */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6); /* Add a subtle shadow */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
}

.dashform * {
    opacity: 1; /* Override opacity for all child elements */
}